<!DOCTYPE html>
{% extends "schilder/base.html" %}
{% load staticfiles %}
{% block titel %}{{raum.name}}{% endblock titel %}
{% block head %}
  <script src="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
  <link rel="stylesheet" href="{% static 'css/schilder.css' %}">
{% endblock head %}
{% block brand %}<a class="navbar-brand" href="{% url 'schilder:schilder-detail' pk=raum.id %}">
                {{raum.nummer}}.{{raum.name}}</a>{% endblock brand %}
{% block reservierung %}<a href="{% url 'schilder:reservierung' pk=raum.id %}">
  Reservierung</a>{% endblock reservierung %}
{% block user %}<a href="{% url 'schilder:user-reserv' pk=current_room.id %}">{{user.username}}</a>{% endblock user %}
{% block logout %}<a href="{% url 'schilder:logout' room=raum.id %}"><span class="glyphicon glyphicon-user"></span> Logout</a>{% endblock logout %}
{% block login %}<a href="{% url 'schilder:login' room=raum.id %}">Login</a>{% endblock login %}
{% block nav-right %}
  <li class="navbar-text">{% now "j N o" %}</li>
  <li class="navbar-text"><span id="uhr"></span></li>
{% endblock nav-right %}
{% block content %}

<div class="wrapper">
  <h1 class="raum-name">{{raum.nummer}}.{{raum.name}}</h1>
  {% comment %}
  <h2 class="datum"><span>{% now "j N o" %}</span></h2><h2 class="zeit"><span id="uhr"></span></h2>
  {% endcomment %}
  <br>
<form class="form" method="post">
  {% csrf_token %}
  <h3 class="kw">KW {{ woche }} {{ jahr }}</h3>
  <input id="woche" type="hidden" name="woche" value="{{woche}}">
  <input id="jahr" type="hidden" name="jahr" value="{{jahr}}">
  <input id='current_week' type="hidden" name="current_week" value="{{current_week}}">
  <input id='current_year' type="hidden" name="current_year" value="{{current_year}}">
  {% if is_week %}
  {% else %}
  <button class="last btn btn-primary" type="submit" name="last_week"><span class="glyphicon glyphicon-arrow-left"></span></button>
  {% endif %}
  <button class="next btn btn-primary" type="submit" name="next_week"><span class="glyphicon glyphicon-arrow-right"></span></button>
</form>

</div>
<br>
<table class="table table-bordered">
  <thead>
    <th>Von</th>
    <th>Grund</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th>T</th>
  </thead>
{% for reservierung  in reservierungen %}
    <tr>
      <td><h4>{{reservierung.reserviert_von.last_name}}</h4></td>
      <td><h4>{{reservierung.reservierungsGrund}}</h4></td>
      <td><h4>{{reservierung.anfangsDatum|date:"j.m.o"}} {% if reservierung.anfangsZeit is None %}
        {% else %} {{reservierung.anfangsZeit|time:"H:i"}} {% endif %}</h4></td>
      <td><h4>{{reservierung.endDatum|date:"j.m.o"}} {% if reservierung.endZeit is None %}
        {% else %} {{reservierung.endZeit|time:"H:i"}} {% endif %}</h4></td>
      <td><h4>{% if reservierung.täglich %}X{% endif %}</h4></td>
    </tr>
{% endfor %}
</table>
<script>
  var time = new Date().getTime();
  $(document.body).bind("click keypress", function(e) {
    time = new Date().getTime();
  });

  function refresh() {
    if(new Date().getTime() - time >= 60000) {
      $("#woche").val($("#current_week").val());
      $("#jahr").val($("#current_year").val());
      window.location.assign(window.location.href);
    }
    else
      setTimeout(refresh, 60000);
  }
  setTimeout(refresh,60000);

  function startTime(){
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('uhr').innerHTML =
    h + ":" + m;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i){
    if (i<10) {i = "0" + i};
    return i;
  }
  startTime();
</script>
{% endblock content %}
