<!DOCTYPE html>
{% extends "schilder/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block titel %}Einloggen{% endblock titel %}
{% block head %}
  <script src="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
  <!-- Virtual Keyboard Imports -->
  <link rel="stylesheet" href="{% static 'virtual_keyboard/Keyboard-master/css/keyboard.css' %}">
  <script src="{% static 'virtual_keyboard/Keyboard-master/js/jquery.keyboard.js' %}"></script>



{% endblock head %}
{% block brand %}<a class="navbar-brand" href="{% url 'schilder:schilder-detail' pk=current_room.id %}">
  {{current_room.nummer}}.{{current_room.name}}</a>{% endblock brand %}
{% block login %}{% endblock login %}
{% block content %}

  <div class="container">
    <h1>Einloggen</h1>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" name="Login" value="Login">
      <input type="hidden" name="next" value="schilder/">
    </form>
  </div>

  <script>
    $('#id_username').keyboard();
    $('#id_password').keyboard();
  </script>

{% endblock content %}
