<!DOCTYPE html>
{% extends "schilder/base.html" %}
{% block titel %}Reservierungsdetails{% endblock titel %}
{% block brand %}<a class="navbar-brand" href="/schilder/{{reservierung.reservierterRaum.id}}">{{reservierung.reservierterRaum.nummer}}.{{reservierung.reservierterRaum.name}}</a>{% endblock brand %}
{% block logout %}<a href="{% url 'schilder:logout' room=reservierung.reservierterRaum.id %}"><span class="glyphicon glyphicon-user"></span> Logout</a>{% endblock logout %}
{% block content %}

  <h1>Reservierung Nr.{{reservierung.id}}</h1>
  <h3>Reserviert von: {{reservierung.reserviert_von}}</h3>
  <h3>Reservierter Raum: {{reservierung.reservierterRaum}}</h3>
  <h3>Reservierungs Grund: {{reservierung.reservierungsGrund}}</h3>
  <h3>Von {{reservierung.anfangsDatum}} {{reservierung.anfangsZeit}} bis
  {{reservierung.endDatum}} {{reservierung.endZeit}}</h3>

{% endblock content %}
