<!DOCTYPE html>
{% extends "schilder/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block titel %}Reservierung{% endblock titel %}
{% block logout %}<a href="{% url 'schilder:logout' room=current_room.id %}"><span class="glyphicon glyphicon-user"></span> Logout</a>{% endblock logout %}
{% block head %}
  <script src="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
  <!-- Virtual Keyboard Imports -->
  <link rel="stylesheet" href="{% static 'virtual_keyboard/Keyboard-master/css/keyboard.css' %}">
  <script src="{% static 'virtual_keyboard/Keyboard-master/js/jquery.keyboard.js' %}"></script>


  <script>
    $(function(){
      $("#id_anfangsDatum").datepicker({dateFormat:'yy-mm-dd'});
      $("#id_endDatum").datepicker({dateFormat: 'yy-mm-dd'});
    });
  </script>
{% endblock head %}
{% block brand %}<a class="navbar-brand" href="/schilder/{{current_room.id}}">{{current_room.name}}.{{current_room.name}}</a>
{% endblock brand %}





{% block content %}
  <h1>Reservierung</h1>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" name="reservieren" value="Reservieren">
  </form>
  {% if reserv is not None %}
    <h2>Es existiert bereits eine Reservierung</h2>
    <table class="tabke table-bordered">
      <thead>
        <th>Reservnr.</th>
        <th>Von</th>
        <th>Beginn</th>
        <th>Ende</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr>
          <td id="td_nr"><h3>{{ reserv.id }}</h3></td>
          <td id="td_user"><h3>{{ reserv.reserviert_von }}</h3></td>
          <td id="td_anfang"><h3>{{ reserv.anfangsDatum }} {{reserv.anfangsZeit}}</h3></td>
          <td id="td_ende"><h3>{{ reserv.endDatum}} {{ reserv.endZeit}}</h3></td>
          <td id="td_details"><h3><a href="{% url 'reservierung:reservierung-detail' pk=reserv.id %}">
            <span class="glyphicon glyphicon-info-sign"></span> Details</a></h3></td>
        </tr>
      </tbody>
    </table>
  {% endif %}
  {% if free_rooms is None %}
  {% else %}
  {% for room in free_rooms  %}
      {% if forloop.first %}
      <h3>Folgende Räume sind Frei</h3>
      <table class="table table-bordered">
        <thead>
          <th>Raum Nummer</th>
          <th>Raum</th>
        </thead>
        <tbody>

      {% endif %}
      <tr>
        <td>{{ room.nummer }}</td>
        <td>{{ room.name }}</td>
      </tr>
      {% if forloop.last %}
      </tbody>
    </table>
      {% endif %}
      {% empty %}
        <h3>Keine Freien Räume für diesen Zeitraum</h3>
  {% endfor %}
  {% endif %}


<script>
  $('#id_reservierungsGrund').keyboard();
</script>
<script>
  $('#id_anfangsZeit').keyboard({
    layout : 'custom',
    customLayout: { 'normal':['7 8 9','4 5 6','1 2 3','0 : {b}','{a}']}
  });
  $('#id_endZeit').keyboard({
    layout : 'custom',
    customLayout: { 'normal':['7 8 9','4 5 6','1 2 3','0 : {b}','{a}']}
  });
</script>
{% endblock content %}
