<!DOCTYPE html>
{% extends "schilder/base.html" %}
{% block titel %}Schilder Liste{% endblock titel %}
{% block content %}

  <h1>Räume</h1>
  {% for schild in schilder  %}
    {% if forloop.first %}
        <table class="table table-bordered">
          <thead>
            <th>Nr.</th>
            <th>Raum</th>
            <th>Details</th>
          </thead>
    {% endif %}
      <tr>
        <td><h3>{{schild.id}}</h3></td>
        <td><h3>{{schild.name}}</h3></td>
        <td><h3><a href="{% url 'schilder:schilder-detail' pk=schild.id %}">Details</a></h3></td>
      </tr>
  {% endfor %}


{% endblock content %}
