table {
  table-layout: fixed;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  justify-self: center;
}

.last {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2
  justify-self: center;
  margin: auto;
}

.kw {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  margin: auto;
}

.next {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  margin: auto;
}
.top-right {
  grid-column-start: 3;
  grid-colum-end: 3;
  grid-row: 1;
  justify-self: center;
  margin: auto;
}

.top-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
