<!DOCTYPE html>
{% extends "base.html" %}
{% load account_tags %}
{% block titel %}Archiv Details{% endblock titel %}
{% block content %}

  <h1>Reservierung Nr.{{archiv.id}}</h1>
  <h3>Reserviert von: {{archiv.reserviert_von}}</h3>
  <h3>Reservierter Raum: {{archiv.reservierterRaum}}</h3>
  <h3>Reservierungs Grund: {{archiv.reservierungsGrund}}</h3>
  <h3>Von {{archiv.anfangsDatum|date:"j N o"}} {{archiv.anfangsZeit|time:"H:i"}} bis
  {{archiv.endDatum|date:"j N o"}} {{archiv.endZeit|time:"H:i"}}</h3>


{% endblock content %}
