<!DOCTYPE html>
{% extends "base.html" %}
{% block titel %}Archiv-List{% endblock titel %}

{% block content %}

  <h1>Archiv</h1>
  <ul>
    {% for reservierung in archiv %}
      {% if forloop.first %}
        <table class="table table-bordered">
          <thead>
            <th>Nr.</th>
            <th>von</th>
            <th>Grund</th>
            <th>Anfang</th>
            <th>Ende</th>
            <th>Täglich</th>
            <th>Details</th>
          </thead>
          <tbody>
    {% endif %}
    <tr>
      <td id="r_nr">{{ reservierung.id }}</td>
      <td>{{ reservierung.reservierterRaum }}</td>
      <td id="r_von">{{ reservierung.reserviert_von }}</td>
      <td id="r_grund">{{ reservierung.reservierungsGrund }}</td>
      <td id="r_anfang">{{ reservierung.anfangsDatum }} {{ reservierung.anfangsZeit|date:"G" }}:{{reservierung.anfangsZeit|date:"i" }}</td>
      <td id="r_ende">{{ reservierung.endDatum }} {{ reservierung.endZeit|date:"G" }}:{{ reservierung.endZeit|date:"i" }}</td>
      {% if reservierung.taeglich %}
          <td>Ja</td>
          {% else %}
          <td>Nein</td>
      {% endif %}

      <td id="r_details"><a href="{% url 'reservierung:archiv-detail' pk=reservierung.id %}"><span class="glyphicon glyphicon-info-sign"></span> Details</a></td>
    </tr>
    {% if forloop.last %}
    </tbody>
  </table>
    {% endif %}
    {% endfor %}

  </ul>

{% endblock content %}
